<application>
    <!-- You will only need to add this meta-data tag, but make sure it's a child of application -->
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyDRXXn7Zte6C5fWcSxpQJA7A-3_AwG0hmI"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</application>
